body {
   font-family: sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  min-height: 100vh;
  padding: 2rem;
}

.container {
   padding: 60px;
   border-radius: 8px;
   max-width: 900px;
   width: 100%;
   min-height: 80vh;
   text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    padding: 10px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #8257e5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}


.status {
    margin-top: 50px;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    font-size: 14px;   
    color: #5E5E5E;    
}

.circulo-mais {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
  margin-left: 4px;
  color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
   
}

li.concluida {
    text-decoration: line-through;
    color: #888;
}