body {
  font-family: sans-serif;
  background-color: #f0f0f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 80vh;
}

.logo {
    color: #8257e5;
}

.wrapper {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    padding: 10px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #8257e5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.status {
    margin: 20px 0;
    display:flex;
    justify-content: space-between;
    font-size: 16px;
}







    

